<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mainDao">
    <select id="getCategory"
            resultType="category">
        SELECT '0'          AS ID,
               '전체리스트' AS NAME
        FROM CATEGORY
        UNION
        SELECT ID   AS ID,
               NAME AS NAME
        FROM CATEGORY;
    </select>
    <select id="getPromotion"
            resultType="java.util.HashMap">
        SELECT D.FILE_NAME      AS FILE_NAME,
               D.SAVE_FILE_NAME AS SAVE_FILE_NAME,
               B.DESCRIPTION    AS DESCRIPTION,
               B.CONTENT        AS CONTENT,
               E.PLACE_NAME     AS PLACE_NAME,
               B.EVENT          AS EVENT
        FROM PROMOTION A,
             PRODUCT B,
             PRODUCT_IMAGE C,
             FILE_INFO D,
             DISPLAY_INFO E
        WHERE A.PRODUCT_ID = B.ID
          AND B.ID = C.PRODUCT_ID
          AND C.FILE_ID = D.ID
          AND B.ID = E.PRODUCT_ID
        GROUP BY A.PRODUCT_ID;
    </select>
    <select id="getAllItemList"
            parameterType="java.util.Map"
            resultType="java.util.HashMap">
        SELECT B.ID                   AS ID,
               C.PLACE_NAME           AS PLACE_NAME,
               B.DESCRIPTION          AS DESCRIPTION,
               B.CONTENT              AS CONTENT,
               E.SAVE_FILE_NAME       AS FILE_NAME
          FROM  CATEGORY       A,
                PRODUCT        B,
                DISPLAY_INFO   C,
                PRODUCT_IMAGE  D,
                FILE_INFO      E
        WHERE A.ID      = B.CATEGORY_ID
          AND B.ID      = C.PRODUCT_ID
          AND B.ID      = D.PRODUCT_ID
          AND D.FILE_ID = E.ID
          AND D.TYPE    = 'TH'
        <if test='categoryId != "0"'>
          AND A.ID = #{categoryId}
        </if>
        ORDER BY B.ID ASC
    </select>
    <select id="getAllCount"
            parameterType="java.util.Map"
            resultType="java.util.HashMap">
        SELECT COUNT(B.ID) AS COUNT
         FROM CATEGORY      A,
              PRODUCT       B,
              DISPLAY_INFO  C
        WHERE A.ID = B.CATEGORY_ID
          AND B.ID = C.PRODUCT_ID
        <if test='categoryId != "0"'>
          AND A.ID = #{categoryId}
        </if>
    </select>
</mapper>